---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Home'>
  <main class='flex flex-col items-center w-full max-w-[1000px]'>
    <h1 class='text-5xl font-bold text-red mb-6'>¿Quiénes Somos?</h1>
    <div class='flex justify-center items-center'>
      <img src='./crysis.webp' alt='' class='w-2/5' />
      <div class='w-2/5 text-white'>
        <p class='indent-3'>
          Crysis Studio es una organización apasionada que se especializa en la
          creación de eventos emocionantes en Minecraft para streamers.
        </p>
        <p class='indent-3'>
          Nuestro equipo de expertos en diseño de eventos para ofrecer
          experiencias únicas y memorables. Valoramos la comunidad y nos
          esforzamos por crear un ambiente inclusivo y amigable donde los
          jugadores y espectadores puedan disfrutar y sentirse parte de algo
          especial.
        </p>
        <p class='indent-3'>
          Nuestra misión es unir a las personas a través de los videojuegos y
          generar momentos de diversión y camaradería en cada evento que
          organizamos. ¡Únete a nosotros en estaemocionante aventura en el mundo
          de Minecraft!
        </p>
      </div>
    </div>
  </main>
</Layout>
