---
import Title from '../components/Title.astro'
import Layout from '../layouts/Layout.astro'
import { STAFF } from '../data/staff.data.js'
---

<Layout title='Staff'>
  <main
    class='flex flex-col items-center lg:max-w-[70rem] sm:max-w-[37.5rem] w-full'
  >
    <Title>Staff</Title>
    <section class='flex flex-wrap justify-center w-full px-4 gap-6'>
      {
        STAFF.map((item) => (
          <div class='flex relative items-center justify-center lg:w-3/12 sm:w-5/12 max-w-xs w-full'>
            <img
              src={item.img}
              alt={item.name}
              class='w-full hover:scale-110 ease-out duration-300'
            />
          </div>
        ))
      }
    </section>
  </main>
</Layout>
