---
import Title from '../components/Title.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Terminos y Condiciones'>
  <Title>Terminos y Condiciones</Title>
  <main
    class='flex flex-col items-center text-justify w-full max-w-[75ch] gap-3 mt-6 text-white px-8'
  >
    <p class='font-bold'>
      Se recomienda leer con detenimiento el contenido completo de los términos y
      condiciones antes de contactar con el estudio para la adquisición del servicio.
    </p>
    <p>
      El idioma manejado principalmente por el estudio es el Español, en caso de contactarnos
      en Inglés, Italiano, Alemán o Portugués puede ser que la respuesta al mensaje tarde
      un poco más en llegar.
    </p>
    <p class='italic text-sm mb-10'>
      No estás obligado a regirte a las normas propuestas, por lo tanto si no
      estás de acuerdo con algún punto informado se le recomienda buscar el
      servicio de otro estudio.
    </p>
    <h3 class='text-left w-full text-rojo text-2xl font-semibold'>
      Información General
    </h3>
    <ul class='list-disc gap-2 mb-10'>
      <li>
        Una vez inicie la elaboración de tu evento, se te proporcionará información
        relacionada a las decisiones que se tomen en el estudio.
      </li>
      <li>
        Puedes pedir <span class='font-bold'>WIPs</span> (Work in Progress) siempre
        que no sea en exceso, ya que esto puede interferir en la velocidad de producción
        de tu evento.
      </li>
      <li>
        Es posible que se te envíen WIPs sin que los hayas solicitado en caso de
        ser necesario aclarar alguna duda.
      </li>
      <li>
        Los retoques menores/cambios serán completamente gratuitos y aceptados,
        si son solicitados con un plazo de tiempo acorde al cambio.
      </li>
      <li>
        Dependiendo de la complejidad del evento solicitado el precio puede
        variar ya sea aumentando o disminuyendo en relación al presupuesto
        propuesto para la realización de este.
      </li>
    </ul>
    <h3 class='text-left w-full text-rojo text-2xl font-semibold'>Derechos de Estudio</h3>
    <p class="w-full">Como estudio encargado:</p>
    <ul class='list-disc gap-2 mb-10'>
      <li>
        Posee total libertad de firmar/patentar todos los eventos realizados,
        es decir, tenemos todos los derechos reservados de cada trabajo realizado.
      </li>
      <li>
        Tiene derecho a declinar cualquier propuesta que no se considere oportuna.
      </li>
      <li>
        Puede publicitar en sus propias redes los eventos realizados.
        Este punto puede ser discutido en relación a la comodidad del comprador.
      </li>
    </ul>
    <p class='font-bold mb-10'>
      Se recomienda leer con detenimiento el contenido completo de los términos y
      condiciones antes de contactar con el estudio para la adquisición del servicio.
    </p>
    <h3 class='text-left w-full text-rojo text-2xl font-semibold'>
      Permisos
    </h3>
    <ul class='list-disc gap-2 mb-10'>
      <li class='font-bold'>Como cliente estás autorizado a:</li>
      <ul class='ml-8 list-disc'>
        <li>
          Subir imágenes, detalles del evento o promoción a tus redes en
          relación al evento con los créditos correspondientes al estudio.
        </li>
        <li>
          o	Acceder a un servidor de discord donde podrá hablar directamente
          con nuestro Staff encargado.
        </li>
      </ul>
      <li class='font-bold'>Como cliente NO estás autorizado a:</li>
      <ul class='ml-8 list-disc'>
        <li>
          Modificar el trabajo entregado bajo ningún motivo.
        </li>
        <li>
          Resubir el trabajo bajo el nombre de otro grupo/estudio/organización.
        </li>
        <li>
          Borrar nuestro logo de Flyers promocionales.
        </li>
        <li>
          Irrespetar al <span class='font-bold'>staff</span> o miembros del estudio.
        </li>
      </ul>
    </ul>
    <h3 class='text-left w-full text-rojo text-2xl font-semibold'>
      Antes de Ordenar
    </h3>
    <p class="mb-10">
      Si tienes alguna duda o pregunta antes de ordenar, <span class="font-bold">¡háznoslo saber!</span>
      Puedes contactarnos por Instagram, Twitter, Discord o directamente por correo electrónico.
    </p>
    <h3 class='text-left w-full text-rojo text-2xl font-semibold'>
      ¿Cómo Ordenar?
    </h3>
    <ul class='list-disc gap-2 mb-10'>
      <li>
        Si estás interesado y deseas realizar un pedido, rellena el siguiente
        <a class='underline font-bold' href='https://forms.gle/NKoSs48JaXHhJ9Dw6'>Formulario de Google</a>
        donde se deberán específicar las siguientes exigencias sobre el evento:
      </li>
      <ul class='ml-8 list-disc'>
        <li>Nombre del adquisidor:</li>
        <li>Cantidad de personas (N° de Streamers/Comunidad):</li>
        <li>Tipo de evento:</li>
        <li>Argumento central:</li>
        <li>
          Tiempo de duración aproximado del proyecto/evento (horas, días,
          meses…):
        </li>
        <li>Posible fecha de entrega del proyecto:</li>
        <li>Presupuesto:</li>
      </ul>
      <li>
        Se le agradece ser lo más específico posible. Mientras más información
        y referencias brinde para la realización de un evento podremos entregarle
        un mejor producto.
      </li>
      <li>
        Espera nuestra respuesta. Nos pondremos en contacto para discutir detalles
        importantes y solicitar/proponer posibles cambios a la idea.
      </li>
    </ul>
    <h3 class='text-left w-full text-rojo text-2xl font-semibold'>
      Velocidad de Trabajo
    </h3>
    <ul class='gap-2 mb-10'>
      <li class="mb-5">
        Tenemos el compromiso de terminar el evento lo más antes posible,
        tomando en consideración nuestros otros proyectos y los suyos.
      </li>
      <ul class='ml-8 mb-5 list-disc'>
        <li>
          El tiempo de espera puede variar en relación a la complejidad del
          proyecto.
        </li>
        <li>
          El plazo mínimo de entrega <span class='font-bold'
            >nunca será inferior</span
          > al de una semana. En caso de que ese deba ser el caso se le pedirá un <span
            class='font-bold'>15%</span
          > más del precio propuesto.
        </li>
        <li>
          Si tenemos más eventos/proyectos que realizar, el suyo será colocado en
          una <span class='font-bold'>“Lista de espera”</span> que se le será notificada
          en el momento que nos contacte.
        </li>
        <li>
          Será informado si ocurre algún contratiempo que pueda retrasar la elaboración de su pedido.
        </li>
        <li>
          Si necesita el evento para una fecha determinada, por favor,
          hacerlo saber dentro del formulario.
        </li>
      </ul>
      <li>
        Tanto tú como nosotros debemos estar satisfechos con el resultado, por lo tanto,
        se le solicitará su atención y disposición para discutir posibles detalles.
      </li>
    </ul>
    <h3 class='text-left w-full text-rojo text-2xl font-semibold'>
      Cambios y/o Retoques
    </h3>
    <ul class='list-disc gap-2 mb-10'>
      <li>
        Los cambios excesivos a realizar que se dispongan después de tener el <span class='font-bold'>50%</span>
        del avance del proyecto, tendrán un cargo extra dependiendo de la complejidad.
        Dicho cargo será impuesto en una reunión con mediación por las dos partes.
      </li>
      <li>
        Si eres una persona muy detallista, por favor, asegúrate de brindarnos información
        y referencias claras y precisas.
      </li>
    </ul>
    <h3 class='text-left w-full text-rojo text-2xl font-semibold'>
      Proceso de Pago
    </h3>
    <ul class='list-disc gap-2 mb-10'>
      <li>
        La vía de pago será en base a Paypal (A posibilidad de cambio).
      </li>
      <li>
        Dicho pago se realizará únicamente en dólares americanos (USD).
      </li>
      <li>
        Una vez se acepte el proyecto usted deberá pagar al inicio el 50% del monto
        acordado en el presupuesto previamente discutido, posteriormente el 50% restante
        será abonado una vez termine el evento.
      </li>
      <li>
        No enviar ningún pago por adelantado hasta que ambas partes acepten la información propuesta.
      </li>
    </ul>
    <h3 class='text-left w-full text-rojo text-2xl font-semibold'>
      Devoluciones
    </h3>
    <ul class='list-disc gap-2 mb-10'>
      <li>
        Podemos devolver el pago proporcionado si aún no se ha comenzado a
        trabajar en su pedido.
      </li>
      <li>
        En caso de no querer continuar el proyecto, si ya fue iniciado y progresado,
        no se va a poder retirar el 50% invertido.
      </li>
    </ul>
    <p class='italic text-sm'>
      En el <a class='underline' href='#'>Formulario de Google</a> se le pedirá que
      acepte los términos y condiciones propuestos. Si no está de acuerdo con alguno
      de ellos, por favor, no continúe con el pedido.
    </p>
  </main>
</Layout>
