---
import Title from '../components/Title.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Terminos y Condiciones'>
  <Title>Terminos y Condiciones</Title>
  <main
    class='flex flex-col items-center text-justify w-full max-w-[75ch] gap-3 mt-6 text-white px-8'
  >
    <p class='font-bold'>
      Se recomienda leer con detenimiento el contenido completo de los términos
      y condiciones antes de contactar con el estudio para la adquisición del
      servicio.
    </p>
    <p class='italic text-sm mb-10'>
      No estás obligado a regirte a las normas propuestas, por lo tanto si no
      estás de acuerdo con algún punto informado se le recomienda buscar el
      servicio de otro estudio.
    </p>
    <h3 class='text-left w-full text-rojo text-2xl font-semibold'>
      Información General
    </h3>
    <ul class='list-disc gap-2 mb-10'>
      <li>
        Una vez hayamos comenzado a trabajar en tu evento se te proporcionará
        información relacionada a la decisiones que tomemos como estudio.
      </li>
      <li>
        Puedes pedir <span class='font-bold'>WIPs</span> (Work in Progress) siempre
        que no sea en exceso, ya que esto puede interferir en la velocidad de producción
        del estudio.
      </li>
      <li>
        Es posible que se te envíen WIPs sin que los hayas solicitado en caso de
        ser necesario aclarar alguna duda.
      </li>
      <li>
        Los retoques menores/cambios serán completamente gratuitos y aceptados.
      </li>
      <li>
        Como estudio encargado, tenemos total libertad de firmar/patentar todos
        los eventos realizados.
      </li>
      <li>
        Dependiendo de la complejidad del evento solicitado el precio puede
        variar ya sea aumentando o disminuyendo en relación al presupuesto
        propuesto para la realización de este.
      </li>
      <li>
        Como estudio tenemos derecho a declinar cualquier propuesta que no
        queramos aceptar.
      </li>
      <li>
        El estudio tiene derecho a publicitar en sus propias redes los eventos
        realizados. Este punto puede ser discutido en relación a la comodidad
        del comprador.
      </li>
      <li class='font-bold'>
        Al pedirnos un evento como individuo u organización estás aceptando
        automáticamente los términos y condiciones propuestos con el compromiso
        de cumplirlos como dictan.
      </li>
    </ul>
    <h3 class='text-left w-full text-rojo text-2xl font-semibold'>Permisos</h3>
    <ul class='list-disc gap-2 mb-10'>
      <li>
        Como estudio, tenemos todos los derechos reservados sobre el/los eventos
        realizados.
      </li>
      <li class='font-bold'>Como cliente estás autorizado a:</li>
      <ul class='ml-8 list-disc'>
        <li>
          Subir imágenes, detalles del evento o promoción a tus redes en
          relación al evento con los créditos correspondientes al estudio.
        </li>
        <li>
          Acceder a un servidor de discord donde podrá hablar directamente con
          nuestro Staff encargado.
        </li>
      </ul>
      <li class='font-bold'>Como cliente NO estás autorizado a:</li>
      <ul class='ml-8 list-disc'>
        <li>Modificar el trabajo entregado bajo ningún motivo.</li>
        <li>
          Resuvir el trabajo bajo el nombre de otro grupo/estudio/organización.
        </li>
        <li>Borrar nuestro logo de Flyers promocionales.</li>
        <li>
          Irrespetar al <span class='font-bold'>staff</span> o miembros del estudio.
        </li>
      </ul>
    </ul>
    <h3 class='text-left w-full text-rojo text-2xl font-semibold'>
      Proceso de Pago
    </h3>
    <ul class='list-disc gap-2 mb-10'>
      <li>El pago será vía <strong>PayPal</strong></li>
      <li>Dicho pago se realizará únicamente en dólares (U$D)</li>
      <li>
        Una vez se acepte el proyecto usted deberá pagar al inicio el 50% del
        presupuesto discutido/propuesto y una vez terminado el evento pagar el
        50% restante.
      </li>
      <li>
        En caso de no querer continuar el proyecto, si ya fue iniciado, no se va
        a poder retirar el 50% invertido.
      </li>
      <li>
        No enviar ningún pago por adelantado hasta que ambas partes acepten la
        información propuesta.
      </li>
    </ul>
    <h3 class='text-left w-full text-rojo text-2xl font-semibold'>
      Antes de Ordenar
    </h3>
    <ul class='list-disc gap-2 mb-10'>
      <li>
        Si tienes alguna duda o pregunta antes de ordenar, ¡háznoslo saber!
        Puedes contactarnos por Instagram, Twitter, Discord o directamente por
        correo electrónico.
      </li>
      <li>
        El idioma manejado principalmente por el estudio es el <span
          class='font-bold'>español</span
        >, en caso de contactarnos en <span class='font-bold'>Ingles</span>, <span
          class='font-bold'>Italiano</span
        > o <span class='font-bold'>Portugues</span> puede ser que la respuesta al
        mensaje tarde un poco más en llegar.
      </li>
    </ul>
    <h3 class='text-left w-full text-rojo text-2xl font-semibold'>
      ¿Cómo Ordenar?
    </h3>
    <ul class='list-disc gap-2 mb-10'>
      <li>
        Si estás interesado y deseas realizar un pedido, rellena el siguiente
        <a class='underline font-bold' href='#'>Formulario de Google</a> donde se
        deberán específicar las siguientes exigencias sobre el evento:
      </li>
      <ul class='ml-8 list-disc'>
        <li>Nombre del adquisidor:</li>
        <li>Cantidad de personas (N° de Streamers/Comunidad):</li>
        <li>Tipo de evento:</li>
        <li>Argumento central:</li>
        <li>
          Tiempo de duración aproximado del proyecto/evento (horas, días,
          meses…):
        </li>
        <li>Posible fecha de entrega del proyecto:</li>
        <li>Presupuesto:</li>
      </ul>
      <li>
        Se le agradece ser lo más específico posible. Mientras más información y
        referencias brinde para la realización de un evento podremos entregarle
        un mejor producto.
      </li>
      <li>
        Espera nuestra respuesta. Nos pondremos en contacto para discutir
        detalles importantes y solicitar/proponer posibles cambios a la idea.
      </li>
    </ul>
    <h3 class='text-left w-full text-rojo text-2xl font-semibold'>
      Velocidad de Trabajo
    </h3>
    <ul class='list-disc gap-2 mb-10'>
      <li>
        Tenemos el compromiso de terminar el evento lo más antes posible,
        tomando en consideración nuestros otros proyectos y los suyos.
      </li>
      <li>
        El tiempo de espera puede variar en relación a la complejidad del
        proyecto.
      </li>
      <li>
        El plazo mínimo de entrega <span class='font-bold'
          >nunca será inferior</span
        > al de una semana. En caso de que ese deba ser el caso se le pedirá un <span
          class='font-bold'>15%</span
        > más del precio propuesto.
      </li>
      <li>
        Si tenemos más eventos/proyectos que realizar, el suyo será colocado en
        una <span class='font-bold'>“Lista de espera”</span> que se le será notificada
        en el momento que nos contacte.
      </li>
      <li>Será informado si ocurre algo que pueda retrasar el encargo.</li>
      <li>
        Si necesita el evento para una fecha determinada, por favor, hacerlo
        saber dentro del formulario.
      </li>
      <li>
        Tanto tú como nosotros debemos estar satisfechos con el resultado, por
        lo tanto se le solicitará su atención y disposición para discutir
        posibles detalles.
      </li>
    </ul>
    <h3 class='text-left w-full text-rojo text-2xl font-semibold'>
      Cambios y/o Retoques
    </h3>
    <ul class='list-disc gap-2 mb-10'>
      <li>
        Los cambios excesivos a partir del <span class='font-bold'>50%</span> del
        proyecto realizado tendrán un cargo extra dependiendo de la complejidad.
      </li>
      <li>
        Si eres una persona muy detallista, por favor, asegúrate de brindarnos
        información y referencias claras y precisas.
      </li>
    </ul>
    <h3 class='text-left w-full text-rojo text-2xl font-semibold'>
      Devoluciones
    </h3>
    <ul class='list-disc gap-2 mb-10'>
      <li>
        Podemos devolver el pago proporcionado si aún no se ha comenzado a
        trabajar en su pedido.
      </li>
      <li>
        No tienes derecho a cancelar o pedir un reembolso una vez se haya
        recibido el primer pago (usted debe estar seguro de querer adquirir
        nuestro servicio al momento de realizar la transferencia).
      </li>
    </ul>
    <br />
    <br />
    <p class='italic text-sm'>
      En el <a class='underline' href='#'>Formulario de Google</a> se le pedirá que
      acepte los términos y condiciones propuestos. Si no está de acuerdo con alguno
      de ellos, por favor, no continúe con el pedido.
    </p>
  </main>
</Layout>
