---
import SocialMedia from './SocialMedia.svelte'
---

<footer class='flex flex-col items-center gap-4 py-8 px-6'>
  <hr class='bg-gray-600 w-full' />
  <SocialMedia />
  <p class='text-[#ffffff] text-lg'>2023 &copy; Crysis Studio</p>
</footer>
