---
const sections = [
  {
    label: 'INICIO',
    href: '/'
  },
  {
    label: 'EVENTOS',
    href: '/eventos'
  },
  {
    label: 'STAFF',
    href: '/staff'
  },
  {
    label: 'AFILIADOS',
    href: '/afiliados'
  },
  {
    label: 'CONTACTO',
    href: '/contacto'
  }
]
---

<header class='flex flex-col gap-8 items-center p-6'>
  <img
    src='/crysis-isologo.webp'
    alt='Crysis Studio Logo'
    class='h-[6.5rem] transition-transform hover:scale-90'
  />

  <nav>
    <ul class='flex gap-10 text-red'>
      {
        sections.map(({ label, href }) => (
          <li>
            <a
              href={href}
              class='text-2xl border-2 border-transparent py-[0.5rem] px-6 transition-colors duration-300 hover:text-white hover:border-white'
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
